.hg
bin
bin.snk
obj
*.suo
*.user
*.nupkg
packages/NuGet.CommandLine.*
*.sln.docstates
_ReSharper.*
Mono/
*.sln.ide
*.rdb
*.aof
*.orig
.vs/
*.lock.json
packages/
node_modules/
nuget.exe
restore.dg
.DS_Store
Thumbs.db